
<div class="course-content-block">
    <div class="course-detail-block">
        {{! overview block }}
        <div class="content-desc-block">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="coursecontent-tab" data-toggle="tab" href="#coursecontent" role="tab" aria-controls="coursecontent" aria-selected="false">{{#str}} coursecontent, format_eduemy {{/str}}</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="false">{{#str}} overview, format_eduemy {{/str}}</a>
                </li>
                {{#displayreviews}}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="blocks-tab" data-toggle="tab" href="#blocks" role="tab" aria-controls="blocks" aria-selected="false">{{#str}} rating, format_eduemy {{/str}}</a>
                </li>
                {{/displayreviews}}
                {{#tabs}}
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="additional-mod-tabs" data-toggle="tab" href="#additional-modtabs-{{id}}" role="tab" aria-controls="course-content" aria-selected="false">
                    {{{name}}}
                    </a>
                </li>
                {{/tabs}}
            </ul>
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="coursecontent" role="tabpanel" aria-labelledby="coursecontent-tab">
                {{#initialsection}}
                    {{> core_courseformat/local/content/section }}
                {{/initialsection}}
                {{#sections}}
                    {{> core_courseformat/local/content/section }}
                {{/sections}}
                </div>

                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                    <div class="overview-block">
                        <div class="about-block">
                            {{! title block }}
                            {{#aboutcoursedesc}}
                                <div class="course-desc-block">
                                    <h2>{{#str}} aboutcourse, format_eduemy {{/str}}</h2>
                                    {{{aboutcoursedesc}}}
                                </div>
                            {{/aboutcoursedesc}}
                            
                            {{! info block }}
                            <div class="info-block">
                                <h5>{{#str}} bynumbers, format_eduemy {{/str}}</h5>
                                <ul>
                                    {{#duration}}
                                    <li></li>
                                    <li><p><i class="fa fa-play-circle"></i> <span>{{duration}} </span> {{#str}} videoduration, format_eduemy {{/str}}</p></li>
                                    {{/duration}}

                                    {{#resources}}
                                    <li><p><i class="fa fa-puzzle-piece"></i> <span>{{resources}}</span> {{#str}}resources, format_eduemy {{/str}}</p> </li>
                                    {{/resources}}

                                    {{#articles}}
                                        <li><p><i class="fa fa-file-o"></i> <span>{{activities}}</span> {{#str}}articles, format_eduemy {{/str}}</p> </li>
                                    {{/articles}}

                                    {{#fulltimeaccess}}
                                    <li><p><i class="fa fa-clock-o"></i>{{#str}}strfulltimeaccess, format_eduemy {{/str}}</p> </li>
                                    {{/fulltimeaccess}}

                                    {{#accesstvandmobile}}
                                    <li><p><i class="fa fa-mobile-phone"></i>{{#str}}straccesstvandmobile, format_eduemy {{/str}}</p></li>
                                    {{/accesstvandmobile}}

                                    {{#certificatecompletion}}
                                    <li><p><i class="fa fa-trophy"></i>{{#str}}strcercompletion, format_eduemy {{/str}}</p></li>
                                    {{/certificatecompletion}}
                                </ul>
                            </div>

                            {{! certificate block }}
                            {{#certificatecompletion}}
                                {{#downloadcertificate}}
                            <div class="certificate-block">
                                <h5>{{#str}} strcercompletion, format_eduemy {{/str}}</h5>
                                {{{certificatedesc}}}
                                {{! download certificate }}
                                <div class="btn-block">
                                    <a href="{{{downloadcertificate}}}">{{#str}} downloadcertificate, format_eduemy {{/str}}</a>
                                </div>
                            </div>
                                {{/downloadcertificate}}
                            {{/certificatecompletion}}

                            {{! Description block }}
                            {{#coursedescinfo}}
                            <div class="desc-block">
                                <h5>{{#str}} description, core {{/str}}</h5>
                                <div class="content-block">
                                    <p>{{{coursedescinfo}}}</p>
                                </div>
                            </div>
                            {{/coursedescinfo}}

                            {{! Instructor block }}
                            <div class="instructor-block">
                                <div class="title-block">
                                    <h5>{{#str}} instructor, format_eduemy {{/str}}</h5>
                                    {{#teacher_list}}
                                    <div id="teacherinfo-{{teacherid}}" class="teacher-block">
                                        <div class="detail-block">
                                            <a href="{{url}}">{{username}}</a>
                                            <div class="img-block">
                                                <img src="{{img}}" alt="{{username}}">
                                            </div>
                                            <div class="content-block">
                                                {{! Teacher description }}
                                                <div class="description-block">
                                                    {{#description}}{{{description}}}{{/description}}
                                                </div>
                                                <div class="info-block">
                                                    <ul>
                                                        <li><i class="fa fa-star"></i>{{avg_rate}} {{#str}} rating, format_eduemy {{/str}}</li>
                                                        <li><i class="fa fa-trophy"></i> {{bring_count_review}} {{#str}} reviews, format_eduemy {{/str}}</li>
                                                        <li><i class="fa fa-users"></i> {{students}} {{#str}} students, format_eduemy {{/str}}</li>
                                                        <li><i class="fa fa-play-circle"></i> {{courses}} {{#str}} courses {{/str}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/teacher_list}}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                {{#displayreviews}}
                <div class="tab-pane fade" id="blocks" role="tabpanel" aria-labelledby="blocks-tab">
                   {{#hasblocks}}
                    <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                        {{{ tabsmodulesblocks }}}
                    </section>
                    {{/hasblocks}}
                </div>
                {{/displayreviews}}

                {{#tabs}}
                <div class="tab-pane fade " id="additional-modtabs-{{id}}" role="tabpanel" aria-labelledby="course-content-tab">
                    <embed type="text/html" src="{{{url}}}" class="tab-modules" ></embed>
                </div>
                {{/tabs}}
            </div>

        </div>
    </div>
</div>

