{{#courseinfo}}
	<div class="course-info-block">
		<div class="course-header-block">
			<div class="container">
				<div class="header-block">
					{{{navbar}}}
					<div class="title-block">
						<h1>{{coursename}}</h1>
						<h3>{{category}}</h3>
					</div>
					<div class="desc-block">
						<div class="summary-block">
							{{#summary}}
								{{{summary}}}
							{{/summary}}
						</div>

						{{#courserate}}
						<div class="rating">
							{{{courserate}}}
						</div>
						{{/courserate}}

						{{#teachers}}
						<div class="lectures-block">
							<p>
								<span>{{#str}}createdby, format_eduemy {{/str}}</span> 
								{{#teacher_list}}
									<a href="#teacherinfo-{{teacherid}}"> {{username}} </a>
								{{/teacher_list}}
							</p>
						</div>
						{{/teachers}}

						<div class="info-block">
							{{#startdate}}
							<div class="startdate-info">
								<i class="fa fa-clock-o"></i>
								<p> {{#str}} startdate, format_eduemy{{/str}} :</p>
								<span>{{startdate}}</span>
							</div>
							{{/startdate}}

							{{#enddate}}
							<div class="enddate-info">
								-
								<p> {{#str}} enddate, format_eduemy{{/str}} :</p>
								<span>{{enddate}}</span>
							</div>
							{{/enddate}}

							<br>

							{{#languages}}
							<div class="lang-info-block">
								<span><i class="fa fa-globe"></i> {{languages}}</span>
							</div>
							{{/languages}}

							{{#captions}}
							<div class="caption-info-block">
								<span><i class="fa fa-cc"></i> {{captions}}</span>
							</div>
							{{/captions}}
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="course-content-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="left-block">
							<div class="course-info-content">
								{{#whatlearn}}
								<div class="desc-block">
									<h3>{{#str}} whatlearnstr, format_eduemy {{/str}}</h3>
									{{{whatlearn}}}
								</div>
								{{/whatlearn}}
								<div class="course-content">
									<h3>{{#str}} coursecontent, format_eduemy {{/str}}</h3>
									<div class="total-info">
										<span class="section-info">{{totsections}} {{#str}}sections{{/str}}</span>
										<span class="section-info"> • {{lectures}} {{#str}}lectures, format_eduemy{{/str}}</span>
										<div class="right-block" style="display: none;">
											<a href="#">Expand <i class="fa fa-angle-down"></i></a>
										</div>
									</div>
									{{#sectioninfo}}
									<div id="accordion" class="accordion">
										{{#mods}}
										{{#.}}
										<div class="card">
										    <div class="card-header" id="heading-{{sectionnum}}">
										      <h5 class="mb-0">
										        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{sectionnum}}" aria-expanded="true" aria-controls="collapse-{{sectionnum}}">
										          {{name}}</button>
										        <span> ({{totcount}} {{#str}} lectures, format_eduemy {{/str}})</span>
										      </h5>
										    </div>

										    <div id="collapse-{{sectionnum}}" class="collapse {{#accordstate}} show {{/accordstate}}" aria-labelledby="heading-{{sectionnum}}" data-parent="#accordion">
										    	{{#details}}
										     	<div class="card-body">
										     		{{#.}}
											        <div class="activity-block">
											          <div class="activity">
											            <a href="#">{{name}}</a>
											          </div>
											          {{#preview}}
											          <div class="right-block">
											            <a href="javascript:void(0)" id="preview-action" data-cmid="{{cmid}}"> {{#str}} preview, format_eduemy {{/str}}</a>
											          </div>
											          {{/preview}}
											        </div>
											        {{/.}}
										      	</div>
										      	{{/details}}
										    </div>
										</div>
										 {{/.}}
										{{/mods}}
									</div>
									{{/sectioninfo}}
								</div>
							</div>
							{{#requirements}}
							<ul class="reqire-block">
								<h3>{{#str}} requirements, format_eduemy {{/str}}</h3>
								{{{requirements}}}
							</ul>
							{{/requirements}}

							{{#coursedescinfo}}
							<div class="description-block">
								<h3>{{#str}} description, format_eduemy {{/str}}</h3>
								<div class="desc-block">
									{{{coursedescinfo}}}
								</div>
							</div>
							{{/coursedescinfo}}

							{{#teachers}}
							<div class="instructor-block">
								<div class="title-block">
									<h2>{{#str}} instructor, format_eduemy {{/str}}</h2>
									{{#teacher_list}}
									<div id="teacherinfo-{{teacherid}}" class="teacher-block">
										
										<div class="detail-block">
											<a href="{{url}}">{{username}}</a>
											<div class="img-block">
												<img src="{{img}}" alt="{{username}}">
											</div>

											<div class="info-block">
												<ul>
													<li><i class="fa fa-star"></i>{{avg_rate}} {{#str}} rating, format_eduemy {{/str}}</li>
													<li><i class="fa fa-trophy"></i> {{bring_count_review}} {{#str}} reviews, format_eduemy {{/str}}</li>
													<li><i class="fa fa-users"></i> {{students}} {{#str}} students, format_eduemy {{/str}}</li>
													<li><i class="fa fa-play-circle"></i> {{courses}} {{#str}} courses, format_eduemy {{/str}}</li>
												</ul>
											</div>
										</div>
									</div>
									{{/teacher_list}}
								</div>
							</div>
							{{/teachers}}

							<div class="rating-info">
								{{{ratingwidget}}}
								{{{reviewwidget}}}
							</div>

						</div>
					</div>

					<div class="col-lg-4">
						<div class="right-float-block">
							{{#courseimg}}
							<div class="img-block">

								{{#imgurl}}
									<img src="{{imgurl}}">
								{{/imgurl}}

								{{#videourl}}
									<video controls>
										<source src="{{videourl}}" type="video/mp4">
	  									<source src="{{videourl}}" type="video/ogg">
										<source src="{{videourl}}" type="video/webm">
									</video>
								{{/videourl}}

							</div>
							{{/courseimg}}

							{{#cost}}
							<div class="cost-block"> 
								<span> {{cost}} </span>
							</div>
							{{/cost}}

							<div class="btn-block">
								<a href="{{courseurl}}">{{#str}} enrolnow, format_eduemy{{/str}}</a>
							</div>
							<div class="info-block">
								<h5>{{#str}}courseinculdestr, format_eduemy {{/str}}</h5>
								<ul>

									{{#duration}}
			                            <li></li>
			                            <li><p><i class="fa fa-play-circle"></i> <span>{{duration}} </span> {{#str}} videoduration, format_eduemy {{/str}}</p> </li>
			                        {{/duration}}

									{{#resources}}
									<li><p><i class="fa fa-puzzle-piece"></i> {{#str}}resources, format_eduemy {{/str}}</p> <span>{{resourcesinfo}}</span></li>
									{{/resources}}

									{{#articles}}
										<li><p><i class="fa fa-file-o"></i> {{#str}}articles, format_eduemy {{/str}}</p> <span>{{modules}}</span></li>
									{{/articles}}

									{{#fulltimeaccess}}
									<li><p><i class="fa fa-clock-o"></i>{{#str}}strfulltimeaccess, format_eduemy {{/str}}</p> </li>
									{{/fulltimeaccess}}

									{{#accesstvandmobile}}
									<li><p><i class="fa fa-mobile-phone"></i>{{#str}}straccesstvandmobile, format_eduemy {{/str}}</p></li>
									{{/accesstvandmobile}}

									{{#certificatecompletion}}
									<li><p><i class="fa fa-trophy"></i>{{#str}}strcercompletion, format_eduemy {{/str}}</p></li>
									{{/certificatecompletion}}

								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
{{/courseinfo}}